USERNAME=markus

case $DISTRO in
OSX)
  exit_error Not supported.
  ;;
ArchLinux)
  useradd -mUG wheel $USERNAME
  ;;
Ubuntu | Debian)
  useradd -mUG sudo $USERNAME
  ;;
esac

curl https://qj.fi/zsh | sudo -su $USERNAME HOME="/home/$USERNAME"
curl https://qj.fi/vim | sudo -su $USERNAME HOME="/home/$USERNAME"
