##################
## KEY BINDINGS ##
##################

bindkey -e
bindkey "^[[1~" beginning-of-line       # Home
bindkey "^[[4~" end-of-line             # End
bindkey "^[[3~" delete-char             # Del
bindkey "^[[2~" overwrite-mode          # Insert
bindkey "^[[5~" history-search-backward # PgUp
bindkey "^[[6~" history-search-forward  # PgDn

##################
### VARIABLES ####
##################

export EDITOR="vim"
export GREP_COLOR="1;33"
export LESS="-R"
export LC_ALL="en_US.utf8"
export LC_TIME="en_GB.utf8"
export PAGER="less"

##################
###### MISC ######
##################

umask 022

##################
### UTILITIES ####
##################

if which keychain &> /dev/null; then
  [ "$SSH_AUTH_SOCK" ] || eval $(keychain --eval --agents ssh -Q -q)
fi
