##################
## ZSH OPTIONS ###
##################

setopt nobeep
setopt kshglob
setopt nonomatch

##################
### VARIABLES ####
##################

export EDITOR="vim"
export GREP_COLOR="1;33"
export LC_ALL="en_US.utf8"
export LC_TIME="en_GB.utf8"
